<%- include('partials/header') %>

<main id="main" class="main-page">

  <h1>There was an error :(</h1>
  <p><%= message %></p>
  <pre><%= error.status %></pre>
  <pre><%= error.stack %></pre>

</main>

<%- include('partials/footer') %>
